html {
   height: 100%;
}

body {
    background-color: $bgcolor;
	height: 100%;
	margin: 0;
}
.logo {
    max-width: 128px;
    float: $logo_pos;
}
header {
    text-align: center;
}

.content {
   max-width: 1024px;
}

.container {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

main {
   flex-grow: 1;
}
