.menu {
    padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
	li {
		flex: 1;
		border: 1px solid #ccc;
        &:hover {
            color: white;
            background-color: gray;
        }
        &.active {
            color: white;
            background-color: darkslategray;
        }
	}
	a {
        color: inherit;
		display: block;
		padding: .5em 1em;
		text-align: center;
		text-decoration: none;
	}
}
