body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
  color: #333;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.hide{
  display:none;
}
.navbar-header .navbar-brand{
  color: lime;
}

header img{
  max-width: 100%;    
  height: auto;
}

header{
/*
  margin-top: -20px;    
  background: cornflowerblue;
  -moz-box-shadow:    inset 0 0 100px pink;
  -webkit-box-shadow: inset 0 0 100px pink;
  box-shadow:         inset 0 0 100px pink;
*/
}

.container{
  background: #fff;
  width: 1000px;
  margin: 4em auto;
  max-width: 90%;
  color: #333;    
}
h1{
    color: deeppink;
    padding: .5em;
    text-transform: uppercase;
}
p{
    font-size: 20px;
}
iframe{
/*   width: 100%; */
}
.iframe iframe{
  
  background: blue;
  margin: 0 auto;
}

footer{
  margin-top: 1em;    
  margin-bottom: 0;    
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box; 
 box-sizing: border-box;
}

.above {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; 
}
/* .above i{
  text-align: center;
  color: #fff;
  background: #3b5998; 
  text-shadow: 4px 4px 10px rgba(0,0,0,0.5);
  width: 20%;
} */
.above a{
  padding: .5em 0;
  border-radius: 3px;
  margin: .5em;
  text-align: center;
  color: #fff;
/*   background: #3b5998; */
  text-shadow: 4px 4px 10px rgba(0,0,0,0.5);
  width: calc(20% - 1em);
  transition: all .2s ease-in-out;
}
.above a:hover{
  border-radius: 5px;
  transform: scale(1.1);
}
.bigLink{
    font-size: 22px;
    color: lightcoral;
    font-weight: 500;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.5);
    transition: all .2s ease-in-out;
}
.bigLink:hover{
   text-decoration: none;    
   color: #fff;    
   transform: scale(1.1); 
}
.smallLink p{
    font-size: 16px;
}
.smallLink{
    color: #fff;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.5);
    transition: all .2s ease-in-out;
}
.smallLink:hover{
   text-decoration: none;    
   color: lightgreen;    
   transform: scale(1.1); 
}
.below {
  color: #fff;
  background: #666;
  padding: 1em;
  font-size: 16px;
  text-align: center;
}
.facebook{
  background: #3b5998;
}
.twitter{
  background: #00b6f1;
}
.github{
  background: purple;
}
.linkedin{
  background: #007bb6;
}
.at{
  background: #d34836;
 }

@media(min-width: 525px){
   header img{
/*    height: 40vh;*/
    width: 100%;   
} 
    p{
    font-size: 22px;
    }
    .bigLink{
        font-size: 22px;
        font-weight: 600;
    }
}
