<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
<title>CoderDojo Hawthorn</title>
</head>
<body>
    <div class="container">
        <header>
            {% include logo.html class="logo" file="cdHawthorn.png" alt="CoderDojo Logo"
            caption="This is the CoderDojo logo." %}
            <h1>CoderDojo Hawthorn</h1>
            {% include menu.html %}
        </header>
		<center> <section> 
CoderDojo is a global volunteer-led community of free programming clubs for young people between 7 and 17. 
<br> The movement is a grassroots organisation with individual clubs acting independently. </br>
<br> A charity called the CoderDojo Foundation operates out of Dublin.</br>
		<center></section>
		<footer>
			{% include footer.html %}
		</footer>
    </div>
</body>
</html>
