<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
<title>CoderDojo Hawthorn</title>
</head>
<body>
    <div class="container">
        <header>
            {% include logo.html class="logo" file="cdHawthorn.png" alt="CoderDojo Logo"
            caption="This is the CoderDojo logo." %}
            <h1>CoderDojo Hawthorn</h1>
            {% include menu.html %}
        </header>
		<main>
		
			{{ content }}
		</main>
		<footer>
			{% include footer.html %}
		</footer>
    </div>
</body>
</html>
