---
layout: default
---

<div class="home">
<p>
    CoderDojo is a global volunteer-led community of free programming clubs for youth between 7 and 17 to learn coding of their choice. We operate in more than 100 countries around the world.
</p>
<p>
    The CoderDojo movement believes that an understanding of programming languages is increasingly important in the modern world, that it’s both better and easier to learn these skills early, and that nobody should be denied the opportunity to do so.
</p>
<p>
    To that end, we’ve built a global network of free, volunteer-led, community-based programming clubs for young people. Anyone aged seven to seventeen can visit a Dojo where they can learn to code, build a website, create an app or a game, and explore technology in an informal, creative, and social environment.

</p>
	{{ content }}

  {{ post.content }}

</div>
